body {
  background-color: #e3d5ca;
}

#cursor {
    height: 12px;
    width: 12px;
  background-color: #1d1d1d;
  border-radius: 50%;
  position: fixed;
  font-size: 3px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
}
#main {
  height: 100%;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#image {
  height: 30vw;
  width: 60vw;
  margin: 8vw 0;
  position: relative;
}
#image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#overlay {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index:10;
}
